

.about-page{
    background-color: transparent;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.photo{
    background-image: url('./images/IMG_6073.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    width: 100%;
    align-self: center;
    position: relative;
    
    border-width: 3px;
}

.about-me{
    color: rgb(202, 196, 193);
    position: relative;
    font-family: 'Patrick Hand SC',sans-serif;
    font-family: sans-serif;
    font-size: 14pt;
    text-align: left;
    margin: 25px;
    margin-top: 0;
    line-height: 2;
}
#c3po{
    background-image: url('./images/c3po2.png');
    height: 160px;
    width: 160px;
    background-size: cover;
    position: relative;
    left: 131px;
    bottom: 158px;
}


@media(min-width: 1000px){
    
    .parallax-image{
        height: 50vh;
        width: 100%;
        background-image: url('./images/coding3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: blur(3px);
    }
    .about-page{
        background-color: transparent;
        height: 100vh;
        width: 100%;
        display: flex;
    }
    .photo{
        background-image: url(./images/me3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 310px;
        position: relative;
        border-style: solid;
        border-color: orange;
        border-width: 3px;
        right: 25.9%;
    }
    
    .about-me{
        color: rgb(216, 207, 202);
        position: absolute;
        left: 47%;
        width: 500px;
        font-family: sans-serif;
        font-size: 13pt;
        line-height: 2;
    }
    
}