

.about-page{
    background-color: transparent;
    height: 50vh;
    width: 90%;
    display: grid;
    grid-template-rows: 200px 200px 100px;
    grid-template-areas: 
        'c3 c3 c3 l'
        'p p p cm'
        'a a a a';
    font-family: 'Patrick Hand SC',sans-serif;
}

.photo{
    margin-left: 15px;
    grid-area: p;
    background-image: url('./images/thomas.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 10px;
}
.contact-me{
    grid-area: cm;
    text-align: center;
    font-size: 18pt;
}
.about-me{
    grid-area: a;
    color: whitesmoke;
    font-size: 14pt;
    text-align: left;
    line-height: 2;
    margin-left: 20px;
}
#c3po{
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
    grid-area: c3;
    background-image: url('./images/c3p0.png');
    height: 160px;
    width: 160px;
    background-size: cover;
    border-radius: 10px;
}
#lingo{
    margin-top: 25px;
    color: whitesmoke;
    grid-area: l;
    font-size: 15pt;
    margin-left: 10px;
}

@media(min-width: 1000px){
    
    .parallax-image{
        height: 50vh;
        width: 100%;
        background-image: url('./images/coding3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: blur(3px);
    }
    .about-page{
        background-color: transparent;
        height: 100vh;
        width: 100%;
        display: flex;
    }
    .photo{
        background-image: url(./images/me3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 310px;
        position: relative;
        border-style: solid;
        border-color: orange;
        border-width: 3px;
        right: 25.9%;
    }
    
    .about-me{
        color: rgb(216, 207, 202);
        position: absolute;
        left: 47%;
        width: 500px;
        font-family: sans-serif;
        font-size: 13pt;
        line-height: 2;
    }
    
}