*{
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(to bottom right, #171b1d 0%, #000000 100%); */
    margin: 0;
    background-color: #171b1d;
    height: fit-content;
}
.home{
    background-color: transparent;
    height: 60vh;
    width: 100%;
    display: flex;
    color: #ff3300;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.name{
    color: rgb(243, 116, 32);
    position: relative;
    right:80px;
    font-size: 15pt;
    font-family: 'Patrick Hand SC', sans-serif;
    line-height: 4.6;
}
.full-stack{
    font-size: 20pt;
    color:'WhiteSmoke';
    /* animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    overflow: hidden;
    white-space: nowrap; */
}

.title{
    font-size: 40pt;
    color: whitesmoke;
    font-family: 'Patrick Hand SC', sans-serif;
    left:13px;
}

.skills{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
}
.languages{
    margin: 7px;
}
.last-name{
    color: rgb(243, 116, 32);
    position: relative;
    right:112px;
    font-family: 'Patrick Hand SC', sans-serif;
    font-size: 15pt;
    line-height: 4.6;
}


.arrow {
  color: lavender;
  -webkit-animation: 3s soft-blink infinite alternate;
  animation: 2s soft-blink infinite alternate;
  position: relative;
  opacity: 0.8;
  left: 92%;
    bottom: 225px;
}

@-webkit-keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes soft-blink {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 0.8; }
}


/* Footer */

/* .footer{
    background-color: transparent;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
} */


@media(min-width: 1000px){
    .name{
        color: #f37420;
        position: relative;
        right: 200px;
        font-size: 15pt;
        font-family: 'Share Tech Mono', monospace;
        line-height: 4.6;
    }
    .last-name{
        color: rgb(243, 116, 32);
        position: relative;
        right: 235px;
        font-family: 'Share Tech Mono', monospace;
        font-size: 15pt;
        line-height: 4.6;
    }
    .full-stack{
        font-size: 30pt;
        color:'WhiteSmoke';
    }
    .title{
        font-size: 65pt;
        color: whitesmoke;
        font-family: 'Patrick Hand SC', cursive;
    }
    .skills{
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 5px;
    }
    .languages{
        margin: 7px;
    }
    
}