.navbar{
    height: 10vh;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* .bracket{
    font-size: 17pt;
    color:yellow;
    height: 30px;
    width: 30px;
    position: relative;
    left: 10px;
} */

.bar1, .bar2 {
    width: 35px;
    height: 3px;
    background-color: lavender;
    margin: 5px;
    margin-right: 15px;
    transition: 0.3s;
}
.change .bar1 {
    z-index: 3;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-10px, 5px);
    margin-bottom: 19px;
    width: 25px;
}
.change .bar2 {
    z-index: 3;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-10px, -5px) ;
    width: 25px;
}

/* Menu Page */

.menu, .change {
    z-index: 3
}
.menu-bar{
    height: 80vh;
    width: 100%;
    position: absolute;
    opacity: 0.86;
    background-color: black;
    transition:  1.3s;
    top: 0vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    justify-content: space-evenly;
}

.none{
    height: 0vh;
    width: 100%;
    position: absolute;
    transition:  1.3s;
    top: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
/* .menu-close{
    align-self: flex-end;
    top: 10px;
    top: -250px;
    position: relative;
} */

